<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <h1>Product</h1>
    <% if (locals.product) { %>
    <h5>ID del producto: <%= product.id %></h5>
    <h4>Nombre del producto: <%= product.desc %></h4>
    <% } else {%>
    <h4><%= message || '' %></h4>
    <% } %> <%- include('../partials/footer') %>
  </body>
</html>
